body{
    background-color:whitesmoke;
}



#kunskap{
    background-color: burlywood;
    text-align: center;

}


#name{
    
    border: 2px solid black;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-size: 20px;
   
   
}
#phone{
    
    
    border: 2px solid black;
    margin: 0 auto;
    padding: 0 auto;
   text-align: center;
   font-size: 20px;
   
 
}
#createBtn{

    background-color: burlywood;
    border: 2px solid black;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-size: 20px;
    
}
.kontaktlist{
    text-align: center;
}
h2{
    text-align: center;
}